# Entorno y secretos
.env
.env.backup
.env.*.local
.env.production
/auth.json
/storage/*.key

# Dependencias
/vendor
/node_modules

# Vite y frontend compilado
/public/build
/public/hot
/public/fonts-manifest.dev.json
/public/storage

# Laravel
/storage/pail
*.log

# Pruebas
.phpunit.result.cache
/.phpunit.cache

# Sistema
.DS_Store
Thumbs.db
Desktop.ini

# Editores
/.cursor/
/.idea
/.vscode
